# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\fullstack(a&sb)\restful-web-services\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
